.search-stream__intro {
	@include breakpoint( "<660px" ) {
		margin-left: 16px;
	}
}

.search-blank-content {
	margin-top: 0px;
	text-align:center;
}

.search-blank-content p {
	font-size: 13px;
	color: #87a6bc;
	margin-top: 0px;
	text-align:left;
}
